@import 'bootstrap.css';

/* General styles */

:root {
    --app-light-blue: #d2e6f9;
    --app-color-0: #d2e6f9;
    --app-color-1: #00ffff;
    --app-color-2: #ff33cc;
    --app-color-3: #ffff1a;
    --app-color-4: #ff8080;
    --app-color-5: #00e68a;
    --app-color-6: #ffcc00;
    --app-color-7: #4d79ff;
    --app-color-8: #ff3300;
    --app-color-9: #cc80ff;
    --app-color-10: #999900;
    --app-color-11: #7575a3;
    --app-color-12: #33cccc;
    --app-color-13: #ff4d4d;
    --app-color-15: #006622;
}

* {
	font-family: Roboto, sans-serif !important;
}

body {
    background: var(--bs-gray-100);
}

@keyframes blinker {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

.blink-me {
  animation: blinker 1s cubic-bezier(1, 0, 0, 1) infinite alternate;
}

.app-r1 {
    margin-left: 1rem;
}

.app-input-field {
    position: absolute;
    width: calc(100% - 2rem);
    height: 2rem;
    background: var(--bs-gray-100);
    border-radius: 0.2rem;
}

.app-comment {
    position: absolute;
    bottom: 1rem;
    font-size: 0.9rem;
}

.app-border, .app-btn, .app-pane {
    border: 1px solid var(--bs-indigo);
    border-radius: 0.5rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.app-modal-header, .app-modal-body, .app-modal-footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.app-cont {
	position: absolute;
    padding: 1rem;
	width: 100vw;
    height: 100vh;
}

.app-pane {
    margin-top: 1rem;
    min-width: 28rem;
    height: 54rem;
    padding: 1rem;
}

.app-pane-header {
    width: 100%;
    background: var(--bs-gray-700);
    color: var(--bs-white);
    text-align: center;
    text-transform: uppercase;
}

.app-btn {
    line-height: 1.2rem;
}

.app-btn:hover {
    line-height: 1.2rem;
    font-size: 1.2rem;
}

/* Modal styles */
.app-modal-header {
    position: absolute;
	height: 3rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    background: var(--bs-gray-400);
    font-weight: bold;
    text-transform: uppercase;
}

.app-modal-body {
    position: absolute;
    top: 3rem;
	height: calc(100% - 6rem);
    width: 100%;
}

.app-modal-footer {
    position: absolute;
    top: calc(100% - 3rem);
    height: 2.9rem;
    width: 100%;
    background: var(--bs-gray-400);
    border-radius: 0 0 0.5rem 0.5rem;
}

.app-btn-submit {
    position: absolute;
    left: 1rem;
}

/* Navigation bar */
.app-nav-item {
    line-height: 1.2rem;
    font-size: max(0.8rem, min(1rem, 0.8vw));
    white-space: pre;
    color: var(--bs-black)
}

.app-nav-item:hover {
    font-size: 1.2rem;
    color: var(--bs-yellow);
}

.app-drop-new {
    background: var(--app-light-blue);
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 3rem;
}

.app-odd-item {
    color: #990099;
}

.app-btn-login {
    margin-left: 5rem;
}

.app-table-nav {
    background: var(--app-light-blue) !important;
}

.dropdown-toggle::after {
    color: var(--bs-black);
}

/* Login window */
#login {
	position: absolute;
    height: 20rem;
	width: 26rem;
	left: calc(50% - 13rem);
	top: 10rem;
    background: var(--app-light-blue);
    z-index: 200;
}

.login-name {
    top: 1rem;
}

.login-pwd {
    top: 3.5rem;
}

.login-email {
    top: 6rem;
}

.login-msg {
    position: absolute;
    top: 11rem;
    font-size: 0.8rem;
}

/* Management windows */
#users {
	position: absolute;
	width: 28rem;
    height: 20rem;
	left: calc(50% - 14rem);
	top: 15rem;
    background: var(--bs-gray-100);
    z-index: 100;
}

#files {
	position: absolute;
	width: 28rem;
    height: 40rem;
	left: calc(50% - 14rem);
	top: 10rem;
    background: var(--bs-gray-100);
    z-index: 100;
}

.app-files-description {
    padding: 0.5rem;
    margin-top: 1rem;
    height: 24.5rem;
    overflow: auto;
    display: flex;
    white-space: pre-wrap;
    background: var(--app-light-blue);
}

/* Guide */

#guide {
    background: var(--bs-gray-100);
    z-index: 100;
}

.app-guide-body {
    min-width: 30rem;
}

.app-guide_content {
    white-space: pre-wrap;
}

/* Game pane */

#instruction {
    position: absolute;
    top: 7rem;
    left: calc(50% - 12rem);
    height: 15rem;
    width: 24rem;
    background: var(--bs-gray-100);
    white-space: pre-wrap;
    opacity: 0.95;
    z-index: 100;
}

#game {
    position: absolute;
    top: 8rem;
    left: calc(50% - 13rem);
    height: 22rem;
    width: 26rem;
    background: var(--bs-white);
    white-space: pre-wrap;
    z-index: 100;
}

.inst-header {
    background: var(--bs-gray-400);
    color: var(--bs-black);
    text-transform: uppercase;
    border-radius: 0.5rem 0.5rem 0 0;
}

.progress {
    position: absolute;
	top: calc(50% - 2rem);
    z-index: 1000;
}

.app-finish-game {
    position: absolute;
    top: 5rem;
    width: calc(100% - 2rem);
}

.app-gauge-group {
    position: absolute;
    bottom: 0;
    height: 19rem;
    width: 100%;
    text-align: center;
}

.app-speed-header {
    bottom: 6rem;
    text-align: center;
}

.app-speed-slider {
    bottom: 3.4rem;
}

.app-button-line {
    height: 3rem;
    bottom: 0;
}

.app-speed-header, .app-speed-slider, .app-button-line, .app-restart-btn {
    position: absolute;
    width: 28rem;
    left: calc(50% - 14rem);
}

.app-pause-btn {
    position: absolute;
    left: 0;
}

.app-resume-btn {
    position: absolute;
    right: 0;
}

.move-button {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    width: 8rem;
    height: 4rem;
    padding: 0;
}

.move-button:hover {
    opacity: 50%;
}

.move-left {
    background: var(--bs-pink);
    left: calc(50% - 14rem);
    bottom: 10rem;
}

.move-up {
    background: var(--bs-blue);
    left: calc(50% - 4rem);
    bottom: 13rem;
}

.move-right {
    background: var(--bs-yellow);
    left: calc(50% + 6rem);
    bottom: 10rem;
}

.move-down {
    background: var(--bs-indigo);
    left: calc(50% - 4rem);
    bottom: 7rem;
}

.app-restart-btn {
    position: absolute;
    bottom: 1rem;
    height: 3rem;
}

.app-game-header {
    padding-top: 0.2rem;
    text-align: center;
    white-space: pre;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 1.1rem;
    height: 2rem;
}

.app-game-cell {
    position: absolute;
    width: 7rem;
    height: 7rem;
    padding-top: 2.3rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    border: 1px solid var(--bs-white);
    border-radius: 0.5rem;
}

/* Agent and Logs pane */

.app-agent-window {
    position: absolute;
    top: 3.5rem;
    width: calc(100% - 2rem);
    height: 11rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    white-space: pre-wrap;
    background: var(--bs-primary);
    color: var(--bs-white);
}

.app-logs-window {
    position: absolute;
    top: 15.5rem;
    bottom: 1rem;
    width: calc(100% - 2rem);
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    white-space: pre-wrap;
    font-size: 0.9rem;
    background: var(--bs-gray-800);
    color: var(--bs-yellow);
}

.app-download-logs {
    position: absolute;
    top: 16rem;
    right: 2rem;
}
.app-clear-logs {
    position: absolute;
    top: 18.5rem;
    right: 2rem;
}

#agent {
    position: absolute;
    top: 5rem;
    left: calc(50% - 14rem);
    height: 33rem;
    width: 28rem;
    background: var(--bs-white);
    white-space: pre-wrap;
    z-index: 100;
}

.app-train-radio {
    position: absolute;
    top: 1rem;
    width: calc(100% - 2rem);
}

.app-train-box, .app-watch-box {
    position: absolute;
    top: 3.5rem;
    width: calc(100% - 2rem);
}

.app-test-box {
    position: absolute;
    top: 1rem;
    width: calc(100% - 2rem);
}

.app-par-text {
    width: 8rem;
}

.app-job-values {
    background: var(--app-light-blue);
    color: var(--bs-black);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.app-col-values {
    min-width: 10rem;
}

.app-stop-job {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.app-kill-job {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

/* Chart */

.app-btn-chart {
    position: absolute;
    top: 15rem;
    right: 1rem;
}

#chart {
	position: absolute;
	width: 60%;
    min-width: 28rem;
    height: 34rem;
	left: 20%;
	top: 10rem;
    background: var(--bs-white);
    z-index: 110;
}

.app-chart-body {
    position: absolute;
    padding: 1rem;
	height: calc(100% - 4rem);
    width: 100%;
}